{% extends 'base.html' %}
{% load static %}

{% block script %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Get the file input element
      var fileInput = document.getElementById('fileInput');

      // Clear the value to prevent automatic upload
      fileInput.value = '';

      // Optionally, you can add an event listener to handle manual file selection
      fileInput.addEventListener('change', function(event) {
        // Handle the file selection if needed
        var selectedFile = event.target.files[0];
        console.log('Selected file:', selectedFile);
      });
    });
  </script>
{% endblock script %}

{% block content %}
  <div class="container-fluid general-widget">
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% else %}
    <label for="exampleInputEmail1" class="form-label text-left text-danger" >{{ message
        }}</label>
    {% endif %}
    {% endfor %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        {{ error }}
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
 
      <div>
        <button class="btn btn-primary-light m-4 btn-left" type="button"><a href="{% url 'grid:add_employee' %}"><i data-feather="log-out"></i>Create Employee</a></button>
        </div>
    <div class="card-header" style="background: #0c7097; color:white;">Upload Grid</div>
    
    <div class="card">
     
      <div class="card-body">
        <div class="dt-ext table-responsive">
          <table id="auto-fill" class="table table-hover mb-2">
            <thead class="table-active">
              <tr>
                <th>Sr</th>
                <th>User Name</th>
                <th>Created on </th>
                <th>Group Permissions</th>
              </tr>
            </thead>
            <tbody>
              {% for i in user %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{i.username}}</td>
                  <td>{{i.date_joined|date:"F d, Y H:i:s"}}</td>
                  <td>
                    {% for group in i.groups.all %}
                      {{ group.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </td>
                  
                  
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
