<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Gird</title>
    <style>
        body{
            width:100%;
            padding:20px;
        }
    </style>
  </head>
  <body>
    <h1>View Grids</h1>

    <form method="POST" action="" class=" form-label-left">
        {% csrf_token %}

        <div class="form-row">
           
            <div class="col-md-4 col-sm-12  form-group">
                <label for="product">Product*</label>
               
                <select id="product" class="form-control" name="product" >
                    {% for product in product %}<option value="{{i.id}}" selected>{{product.name}}</option>
                    {% endfor %}
                </select>
           
            </div>
            
            <div class="col-md-4 col-sm-12  form-group">
                <label for="product">Vehical Type*</label>
                <select id="product" class="form-control" name="product" >
                    <option value="" selected>Select Vehical Type</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-12  form-group">
                <label for="product">Vehical Sub Type*</label>
                <select id="product" class="form-control" name="product" >
                    <option value="" selected>Select Vehical Sub Type</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-12  form-group">
                <label for="product">Product Name*</label>
                <select id="product" class="form-control" name="product" >
                    <option value="" selected>Select Product Name</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-12  form-group">
                <label for="product">Provider*</label>
                <select id="product" class="form-control" name="product" >
                    <option value="" selected>Select Provider</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-12  form-group">
                <label for="product">Month</label>
                <select id="product" class="form-control" name="product" >
                    <option value="" selected>Select Month</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-12  form-group">
                <label for="product">State*</label>
                <select id="product" class="form-control" name="product" >
                    <option value="" selected>Select State</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-12  form-group">
                <label for="product">RTO*</label>
                <select id="product" class="form-control" name="product" >
                    <option value="" selected>Select RTO</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-9 col-sm-9  offset-md-4 mr-6 form-group">
                
                <input class="mr-2" type="checkbox" name="Live Rules(s)" id="">
                <label for="product">Live Rules(s)</label>
               
                <input  class="mr-2"  type="checkbox" name="Standard Rules(s)" id="">
                <label for="product">Standard Rules(s)</label>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-9 col-sm-9  offset-md-4 form-group">
                    <input class="btn btn-primary mr-2" type="button" value="Get Grid">
                    <input class="btn  mr-2" type="button" value="Clear">
                </div>
        </div>
        
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>