<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Payout Grid">
    <meta name="keywords"
        content="admin template, Payout Grid admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="{%static '/images/favicon.png '%}" type="image/x-icon">
    <link rel="shortcut icon" href="{%static '/images/favicon.png '%}" type="image/x-icon">
    <title>Payout Grid</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.css' %}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/icofont.css' %}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/themify.css' %}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/flag-icon.css' %}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/feather-icon.css' %}">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'css/color-1.css' %}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
</head>

<body>
     <!-- page-wrapper Start-->
     <section>
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                 
                    <div class="login-card">
                      
                        <form  class="theme-form login-form" method="post" action="{% url 'accounts:password_reset' %}">
                           {% csrf_token %}
                           {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% else %}
                                <label for="exampleInputEmail1"  class="form-label text-left text-danger">{{ message }}</label>
                            {% endif %}
                        {% endfor %}

                            {% if form.errors %}
                              <div class="alert alert-danger" role="alert">
                                <p>
                                    {{form.errors}}
                                </p>
                              </div>
                          {% endif %}
                                    <div class="mb-3 d-flex justify-content-start align-items-start flex-column">
                                      <label for="exampleInputEmail1" class="form-label text-left">Email address</label>
                                      <input type="email" class="form-control primarycolorlightbg" id="exampleInputEmail1" name="email" required aria-describedby="emailHelp">
                                      <div id="emailHelp" class="form-text">Enter the email address associated with your account</div>
                                    </div>            
                                <div class="d-flex justify-content-between flex-wrap mt-md-5">
                                    <button type="submit" value="Login"class="btn custom-button mb-2 mb-md-0">Next</button>
                                   
                                </div>    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="{%static '/js/bootstrap/popper.min.js ' %}"></script>
        <script src="{%static '/js/bootstrap/bootstrap.min.js ' %}"></script>
</body>


</html>